body {
  width: 100%;
  margin: 0px;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Breul Grotesk";
  src: url(../fonts/breul-grotesk-a-regular.ttf);
}
@font-face {
  font-family: "damion";
  src: url(../fonts/damion.ttf);
}
@font-face {
  font-family: "dancingscript";
  src: url(../fonts/dancingscript.ttf);
}
@font-face {
  font-family: "kaushanscript";
  src: url(../fonts/kaushanscript.ttf);
}
@font-face {
  font-family: "caveat";
  src: url(../fonts/caveat.ttf);
}
.head {
  width: 100%;
  height: 150px;
  background-color: #579C87;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffc400;
  font-size: 100px;
}

h1 a {
  text-decoration: none;
  color: unset;
}

.contact {
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  height: 100px;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.contact a {
  color: #ffc400;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
}

@media screen and (max-width: 1060px) {
  .contact {
    font-size: 10px;
  }
}
.button {
  background-color: #579C87;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.btn-prochainement {
  background-color: #579C87;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 1.5rem 3rem;
}
.btn-prochainement .dot {
  margin: 0px 2px;
  font-size: 30px;
}
.btn-prochainement:hover .dot {
  animation: slide-in-top 1s ease-in-out infinite both;
}
.btn-prochainement:hover .dot1 {
  animation-delay: 0ms;
}
.btn-prochainement:hover .dot2 {
  animation-delay: 100ms;
}
.btn-prochainement:hover .dot3 {
  animation-delay: 200ms;
}

.bloc_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-menu-intro {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 60px;
}

.section-menu-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px;
}

.menu-card-wrapper {
  height: 600px;
  width: 450px;
  font-size: 20px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}
.menu-card-wrapper h3 {
  font-size: 80px;
}

.menu-card-wrapper-full {
  max-width: 700px;
  font-size: 20px;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}
.menu-card-wrapper-full h3 {
  font-size: 80px;
}

.menu_top h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: black;
}
.menu_top h2 {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.bloc_la-note-enchantee {
  background-color: pink;
}
.bloc_la-note-enchantee h2, .bloc_la-note-enchantee h3 {
  color: black;
  font-family: "damion";
}
.bloc_la-note-enchantee .gradien2 {
  background: linear-gradient(159deg, #fcb045 0%, #fd1d1d 5%, #833ab4 100%);
  -webkit-background-clip: text;
  color: transparent;
  padding: 10px;
}

.bloc_le-chic-a-la-francaise h2 {
  font-size: 40px;
}
.bloc_le-chic-a-la-francaise h3 {
  color: burlywood;
  font-family: "dancingscript";
}

.gradien {
  background-color: #fff5fe;
}
.gradien h2 {
  background: linear-gradient(159deg, #fcb045 0%, #fd1d1d 5%, #833ab4 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "dancingscript";
  padding: 10px;
}

.bloc_le-delice-des-papilles {
  background-color: whitesmoke;
}
.bloc_le-delice-des-papilles h2, .bloc_le-delice-des-papilles h3 {
  font-size: 43px;
  background: linear-gradient(132deg, #020024 0%, rgba(0, 0, 255, 0.8827906162) 35%, #00d4ff 100%);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "kaushanscript";
  padding: 10px;
  transform: scale(1);
  opacity: 1;
}

.bloc_la-palette-du-gout {
  background-color: white;
}
.bloc_la-palette-du-gout h2, .bloc_la-palette-du-gout h3 {
  color: green;
  font-family: "caveat";
}
.bloc_la-palette-du-gout h2 {
  font-size: 60px;
}

.zoom {
  opacity: 1;
  transition: all 1000ms;
}
.zoom h2, .zoom h3 {
  transform: scale(1);
  transition: all 1000ms;
}
.zoom:hover {
  opacity: 0.4;
}
.zoom:hover h2, .zoom:hover h3 {
  transform: scale(1.3);
}

@media screen and (max-width: 1060px) {
  h1 {
    font-size: 40px;
  }

  .menu_top h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: black;
  }
  .menu_top h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .section-menu-intro {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-card-wrapper {
    max-height: 600px;
    max-width: 250px;
    font-size: 20px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .menu-card-wrapper h3 {
    font-size: 40px;
  }

  .menu-card-wrapper-full {
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
  }

  .bloc_le-delice-des-papilles h2 {
    font-size: 20px;
  }
  .bloc_le-delice-des-papilles h3 {
    font-size: 22px;
  }

  .bloc_la-palette-du-gout h2 {
    font-size: 20px;
  }
  .bloc_la-palette-du-gout h3 {
    font-size: 22px;
  }

  .bloc_la-note-enchantee h3 {
    font-size: 30px;
  }

  .bloc_le-chic-a-la-francaise h2 {
    font-size: 22px;
  }
  .bloc_le-chic-a-la-francaise h3 {
    font-size: 30px;
  }
}
.menu_la-note-enchantee .la-note-enchantee_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_la-note-enchantee .la-note-enchantee_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_la-note-enchantee .la-note-enchantee_menu h1, .menu_la-note-enchantee .la-note-enchantee_menu h2, .menu_la-note-enchantee .la-note-enchantee_menu h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}
.menu_la-note-enchantee .la-note-enchantee_menu .text {
  text-align: center;
}
.menu_la-note-enchantee .plat-descr, .menu_la-note-enchantee .plat-prix {
  font-family: "damion";
}
.menu_la-note-enchantee h1, .menu_la-note-enchantee h2, .menu_la-note-enchantee h3 {
  color: black;
  font-family: "damion";
  align-items: center;
}
.menu_la-note-enchantee h1 {
  font-size: 50px;
}
.menu_la-note-enchantee h2 {
  font-size: 35px;
  padding-top: 20px;
}
.menu_la-note-enchantee h3 {
  font-size: 20px;
}
.menu_la-note-enchantee p {
  font-family: "damion";
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
}

.menu_le-chic-a-la-francaise * {
  font-family: "dancingscript";
}
.menu_le-chic-a-la-francaise .le-chic-a-la-francaise_top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_le-chic-a-la-francaise .le-chic-a-la-francaise_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_le-chic-a-la-francaise .le-chic-a-la-francaise_menu h1, .menu_le-chic-a-la-francaise .le-chic-a-la-francaise_menu h2, .menu_le-chic-a-la-francaise .le-chic-a-la-francaise_menu h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}
.menu_le-chic-a-la-francaise .le-chic-a-la-francaise_menu .text {
  text-align: center;
}
.menu_le-chic-a-la-francaise .plat-descr, .menu_le-chic-a-la-francaise .plat-prix {
  font-family: "dancingscript";
  font-size: 25px;
}
.menu_le-chic-a-la-francaise h1, .menu_le-chic-a-la-francaise h2, .menu_le-chic-a-la-francaise h3 {
  color: burlywood;
  font-family: "dancingscript";
  align-items: center;
}
.menu_le-chic-a-la-francaise h1 {
  font-size: 50px;
}
.menu_le-chic-a-la-francaise h2 {
  font-size: 35px;
  padding-top: 20px;
}
.menu_le-chic-a-la-francaise h3 {
  font-size: 20px;
}
.menu_le-chic-a-la-francaise p {
  font-family: "dancingscript";
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
}

.menu_le-delice-des-papilles * {
  font-family: "kaushanscript";
}
.menu_le-delice-des-papilles .le-delice-des-papilles_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_le-delice-des-papilles .le-delice-des-papilles_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_le-delice-des-papilles .le-delice-des-papilles_menu h1, .menu_le-delice-des-papilles .le-delice-des-papilles_menu h2, .menu_le-delice-des-papilles .le-delice-des-papilles_menu h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
.menu_le-delice-des-papilles .le-delice-des-papilles_menu .text {
  text-align: center;
}
.menu_le-delice-des-papilles .plat-descr, .menu_le-delice-des-papilles .plat-prix {
  font-family: "kaushanscript";
}
.menu_le-delice-des-papilles h1, .menu_le-delice-des-papilles h2, .menu_le-delice-des-papilles h3 {
  color: blue;
  font-family: "kaushanscript";
  align-items: center;
}
.menu_le-delice-des-papilles h1 {
  font-size: 50px;
  background: linear-gradient(132deg, #020024 0%, rgba(0, 0, 255, 0.8827906162) 35%, #00d4ff 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.menu_le-delice-des-papilles h2 {
  font-size: 35px;
  padding-top: 20px;
}
.menu_le-delice-des-papilles h3 {
  font-size: 20px;
}
.menu_le-delice-des-papilles p {
  font-family: "kaushanscript";
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
}

.menu_la-palette-du-gout * {
  font-family: "caveat";
}
.menu_la-palette-du-gout .la-palette-du-gout_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_la-palette-du-gout .la-palette-du-gout_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_la-palette-du-gout .la-palette-du-gout_menu h1, .menu_la-palette-du-gout .la-palette-du-gout_menu h2, .menu_la-palette-du-gout .la-palette-du-gout_menu h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
.menu_la-palette-du-gout .la-palette-du-gout_menu .text {
  text-align: center;
}
.menu_la-palette-du-gout .plat-descr, .menu_la-palette-du-gout .plat-prix {
  font-family: "caveat";
  font-size: 25px;
}
.menu_la-palette-du-gout h1, .menu_la-palette-du-gout h2, .menu_la-palette-du-gout h3 {
  color: green;
  font-family: "caveat";
  align-items: center;
}
.menu_la-palette-du-gout h1 {
  font-size: 50px;
}
.menu_la-palette-du-gout h2 {
  font-size: 35px;
  padding-top: 20px;
}
.menu_la-palette-du-gout h3 {
  font-size: 20px;
}
.menu_la-palette-du-gout p {
  font-family: "caveat";
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
}

.menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_bottom .note-musique {
  margin-left: 20px;
}

@media screen and (max-width: 1060px) {
  .menu_la-note-enchantee .note-musique {
    font-size: 10px;
  }
  .menu_la-note-enchantee h1 {
    font-size: 25px;
  }
  .menu_la-note-enchantee h2 {
    font-size: 20px;
  }
  .menu_la-note-enchantee .plat-descr, .menu_la-note-enchantee .plat-prix {
    font-size: 20px;
  }

  .menu_le-chic-a-la-francaise h1 {
    font-size: 25px;
  }
  .menu_le-chic-a-la-francaise h2 {
    font-size: 20px;
  }
  .menu_le-chic-a-la-francaise .plat-descr, .menu_le-chic-a-la-francaise .plat-prix {
    font-size: 18px;
  }

  .menu_le-delice-des-papilles h1 {
    font-size: 25px;
  }
  .menu_le-delice-des-papilles h2 {
    font-size: 20px;
  }
  .menu_le-delice-des-papilles .plat-descr, .menu_le-delice-des-papilles .plat-prix {
    font-family: "kaushanscript";
    font-size: 18px;
  }

  .menu_la-palette-du-gout h1 {
    font-size: 25px;
  }
  .menu_la-palette-du-gout h2 {
    font-size: 20px;
  }
  .menu_la-palette-du-gout .plat-descr, .menu_la-palette-du-gout .plat-prix {
    font-family: "caveat";
    font-size: 20px;
  }
}
@keyframes headshake {
  0% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  12% {
    transform: translateX(1px);
    transform: translateY(0px);
  }
  25% {
    transform: translateX(3px);
    transform: translateY(-2px);
  }
  50% {
    transform: translateX(2px);
    transform: translateY(0px);
  }
  75% {
    transform: translateX(1px);
    transform: translateY(1px);
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  font-family: "Breul Grotesk", "damion", "dancingscript", "kaushanscript", "caveat";
}

.main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bloc_page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

.shake:hover {
  animation: headshake 120ms infinite both;
}

.hr h2 {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.plat-ligne {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.plat-prix {
  margin-left: 20px;
  min-width: 80px;
  text-align: right;
}

.menu-subtitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
}

h2.menu-subtitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  margin-top: 40px;
}
h2.menu-subtitle .line {
  border-bottom: 2px solid black;
  flex: 1 1 0%;
}
h2.menu-subtitle .text {
  padding: 10px;
  text-align: center;
  position: relative;
}
h2.menu-subtitle .text::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease-in-out;
  background-color: black;
}
h2.menu-subtitle .text:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 1060px) {
  .btn-wrapper {
    margin-bottom: 150px;
  }

  .menu-subtitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
  }

  h2.menu-subtitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
  }
  h2.menu-subtitle .line {
    border-bottom: 2px solid black;
    flex: 1 1 0%;
  }
  h2.menu-subtitle .text {
    padding: 10px;
    text-align: center;
    position: relative;
  }
  h2.menu-subtitle .text::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s ease-in-out;
    background-color: black;
  }
  h2.menu-subtitle .text:hover::after {
    transform: scaleX(1);
  }

  .plat-ligne {
    margin: 30px 0px;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
