@font-face
{
  font-family: "Breul Grotesk";
  src: url(../fonts/breul-grotesk-a-regular.ttf);
}

@font-face
{
  font-family: "damion";
  src: url(../fonts/damion.ttf);
}

@font-face
{
  font-family: "dancingscript";
  src: url(../fonts/dancingscript.ttf);
}

@font-face
{
  font-family: "kaushanscript";
  src: url(../fonts/kaushanscript.ttf);
}

@font-face
{
  font-family: "caveat";
  src: url(../fonts/caveat.ttf);
}