.contact {
    display:flex;
    justify-content: space-between;
    background-color: #579c87;
    height: 100px;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    a {
        color: $primary-color;
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
    }
}

@media screen and (max-width: 1060px) {
    .contact {
        font-size: 10px;
    }
}