@import 'reset.scss';
@import 'fonts.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'button.scss';
@import 'blocs_menus.scss';
@import 'menus.scss';
@import 'animations.scss';
@import 'contact.scss';


* 
{
    font-family: 'Breul Grotesk', 'damion', 'dancingscript', 'kaushanscript', 'caveat';
}

.main
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.bloc_page
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-wrapper 
{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.hr {
    h2 {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
}

.plat-ligne
{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.plat-prix
{
    margin-left: 20px;
    min-width: 80px;
    text-align: right;
}

.menu-subtitle {
	display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
}

h2.menu-subtitle {
	display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
	.line {
        border-bottom: 2px solid black;
        width: 25%;
    }
}

@media screen and (max-width: 1060px) {
    .btn-wrapper {
        margin-bottom: 150px;
    }
    .menu-subtitle {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 20px;
    }
    h2.menu-subtitle {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 20px;
        .line {
            border-bottom: 2px solid black;
            width: 25%;
        }
    }
}


