$primary-color: rgb(255, 196, 0);
$secondary-color: #579C87;
$color-title-la-note-enchantee: pink;
$color-title-le-chic-a-la-francaise:#fff5fe;
$color-title-le-delice-des-papilles: whitesmoke;
$color-title-la-palette-du-gout: white;
$font-la-note-enchantee: 'damion';
$font-le-chic-a-la-francaise: 'dancingscript';
$font-le-delice-des-papilles: 'kaushanscript';
$font-la-palette-du-gout: 'caveat';
